body {
    color: #777;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }
        #layout.active #menu {
            left: 150px;
            width: 150px;
        }

        #layout.active .menu-link {
            left: 150px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #fff;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            //background: #333;
             background: -webkit-gradient(linear, left top, left bottom, from(#D96132), to(#E84343));
   background: -webkit-linear-gradient(top, #D96132, #E84343);
   background: -moz-linear-gradient(top, #D96132, #E84343);
   background: -ms-linear-gradient(top, #D96132, #E84343);
   background: -o-linear-gradient(top, #D96132, #E84343);
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
      // background: #1f8dd6;
      background: -webkit-gradient(linear, left top, left bottom, from(#D96132), to(#E84343));
      background: -webkit-linear-gradient(top, #D96132, #E84343);
      background: -moz-linear-gradient(top, #D96132, #E84343);
      background: -ms-linear-gradient(top, #D96132, #E84343);
      background: -o-linear-gradient(top, #D96132, #E84343);
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        // background: #000;
         background: -webkit-gradient(linear, left top, left bottom, from(#D96132), to(#E84343));
   background: -webkit-linear-gradient(top, #D96132, #E84343);
   background: -moz-linear-gradient(top, #D96132, #E84343);
   background: -ms-linear-gradient(top, #D96132, #E84343);
   background: -o-linear-gradient(top, #D96132, #E84343);
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

.mamak-button-red {
   padding: 6px 12px;
   border: 1px solid #916505;
   background: -webkit-gradient(linear, left top, left bottom, from(#D96132), to(#E84343));
   background: -webkit-linear-gradient(top, #D96132, #E84343);
   background: -moz-linear-gradient(top, #D96132, #E84343);
   background: -ms-linear-gradient(top, #D96132, #E84343);
   background: -o-linear-gradient(top, #D96132, #E84343);
   background-color: #E84343;
   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 0px #A33232;
   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 0px #A33232;
   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 0px #A33232;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: #E84343 1px 1px 0px;
   color: #3D3C32;
   font-size: 14px;
   font-family: Helvetica;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.4s;
   -moz-transition: 0.4s;
   -o-transition: 0.4s;
   cursor: pointer;
   }
.mamak-button-red:hover {
   background: none;
   background-color: #E84343;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #3D3C32;
   }
.mamak-button-red:active {
   top: 1px;
   position: relative;
   }



.mamak-button-green {
   padding: 6px 12px;
   border: 1px solid #BFBB46;
   background: -webkit-gradient(linear, left top, left bottom, from(#BBD64F), to(#ACE843));
   background: -webkit-linear-gradient(top, #BBD64F, #ACE843);
   background: -moz-linear-gradient(top, #BBD64F, #ACE843);
   background: -ms-linear-gradient(top, #BBD64F, #ACE843);
   background: -o-linear-gradient(top, #BBD64F, #ACE843);
   background-color: #ACE843;
//   box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 2px #A33231;
//   -webkit-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 2px #A33231;
//   -moz-box-shadow: 0px 7px 2px -5px #1A1A1A, inset 0px 0px 2px #A33231;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: #5FE843 1px 1px 0px;
   color: #3D3C32;
   font-size: 14px;
   font-family: Helvetica;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.4s;
   -moz-transition: 0.4s;
   -o-transition: 0.4s;
   cursor: pointer;
   }
.mamak-button-green:hover {
   background: none;
   background-color: #ACE843;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #3D3C32;
   }
.mamak-button-green:active {
   top: 1px;
   position: relative;
   }

.mmk-search-input{
}
.mmk-food{
    border: 1px #D96132 solid;

    background-color: #ffffff;

    padding: 9px;

    font-size: inherit;
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    text-decoration: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: inset 0px 0px 2px 0px #fad13d;
    -webkit-box-shadow: inset 0px 0px 2px 0px #fad13d;
    box-shadow: inset 0px 0px 2px 0px #fad13d;
    min-height: 150px;
}

div{
    display: block;
}
.mmk-food-description{
    float: left;
    position: relative;
}
.mmk-food-restaurantName{}
.mmk-order{
    // width: 120px;
}

.mmk-food-price{
    font-size: 2em;
    background-color: yellow;
}

div.mmk-food-img{
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
}
.mmk-food-description{
    padding: 5px;
}
.mmk-order,
.mmk-order-controls{
    float: right;
    postion: relative;
    width: 150px
    text-allign: center;
    padding: 3px;
}
.mmk-controls{
    text-align:center;
}
.mmk-addsub-input{
}

        .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

div.mmk-add-to-cart{
    text-align:center;
    padding: 3px;
}

input.mmk-addsub-input{
    border: none;
    text-align: center;
    text-decoration: bold;
}