Name: <%= order.customer.username %>
<br />
Phone number: <%= order.customer.phoneNumber %>
<br />
Address: <%= order.customer.address %>
<br />
<hr />
Order:
<ol>
<% order.list.forEach(function(items) { %>
  <li>
    <span style="width: 300px;"><%= items.name %></span>
    <span style="width: 30px;">| <%= items.qty %></span>
  </li>
<% }) %>
</ol>