<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Mamakh Cyberrestaurant</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link res="stylesheet" href= <%= stylesheet %> >
  <style>
    body { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> mamakh</h1>

    <p>Login or Register with:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>

</div>
</body>
</html>

