<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>Mamakh CyberRestaurant</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href=<%= stylesheet %> > -->
  <!--
  <style>
    body { padding-top:80px; word-wrap:break-word; }
  </style>
  -->
</head>
<body>
  <div class="container">
    
    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    
    <div class="row">
      
      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-user"></span> Local</h3>
          
          <p>
            <strong>id</strong>: <%= user._id %><br />
            
            <strong>username</strong>: <%= user.username %><br />
            
            <strong>address</strong>:
            <textarea
                      rows="1" columns="30"
                      style="border:none; background:none; resize:none; overflow:none;"
                      onmouseover="this.style.background='#fff7d6'"
                      onfocus="this.style.background='#fff7d6'"
                      onmouseout="this.style.background='none'">
              <%= user.address %>
            </textarea><br />
          </p>
          
        </div>
      </div>
      
    </div>
    
  </div>
</body>
</html>

